torch>=2.0.0
torchvision
transformers
diffusers
safetensors
einops
sentencepiece
protobuf
modelscope
numpy
pandas
pillow
opencv-python
imageio
imageio[ffmpeg]
tqdm
matplotlib
pyquaternion
nuscenes-devkit
scipy
shapely>=2.0.0
geopandas>=0.12.1
rasterio
pyarrow
hydra-core==1.2.0
scikit-learn==1.2.2
positional-encodings==6.0.1
